body{
	margin: 0;
	margin-top: 0;
	font-family: helvetica, arial, sans-serif;
}

header{
	background-color: #d14635;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
h1,h2,h3{
	font-family: 'Bitter', serif;
}

header h1{
	color: White;
	font-size: 50px;

}

header img{
	border-radius: 180px;
	width: 300px;
	border: 20px solid white;
}
